# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#Service Key
/backend/serviceAccountKey.json

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# will be added upon deployment as it is located on separate repo. Will store user roles.
#  see https://github.com/WATonomous/infra-config/tree/master/directory/users/data
/backend/data