# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#Service Key
/backend/serviceAccountKey.json
/backend/data

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# will be mounted on deployment. Will store user roles. For local development, create one in the shape specified in README.md
/backend/user_directory.json